const { SlashCommandBuilder } = require('discord.js');

module.exports = {
	config: {
		enabled: true,
		guildOnly: false,
		permlevel: 'User',
		category: 'Miscellaneous',
		usage: 'How to use the command',
	},
	data: new SlashCommandBuilder()
		.setName('')
		.setDescription(''),
	async execute(interaction) {
		//	code goes here
	},
};